// Link styles

a {
	color: darken($colorTextDefault, 20%);
	position: relative;
	text-decoration: none;
	transition: all 0.2s;
	&:not(.remove-line) {
		text-decoration: underline;
		text-decoration-skip: ink;
		text-decoration-skip-ink: auto;
		&:active {
			position: relative;
			top: 1px;
		}
	}
}
