// Header tags

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 0;
	font-weight: $defaultFontWeight;
}

::selection {
	background: $colorTextDefault;
	color: $colorSiteBackground;
}

::-moz-selection {
	background: $colorTextDefault;
	color: $colorSiteBackground;
}
