// Introduction section

.container-introduction {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		@include font-size(48);
		color: $colorTextDefault;
		margin-top: 76px;
		letter-spacing: 1.25em;
		margin-right: -1.25em;
	}

	h2 {
		color: $colorTextDefault;
		text-transform: uppercase;
		@include font-size(14);
		margin-top: 4em;
		margin-bottom: 4em;
		letter-spacing: 0.25em;
		margin-right: -0.25em;
	}

	p {
		margin: 0;
		line-height: 1.5;
	}

	p a {
		color: $colorTextDefault;
		text-decoration: none;
	}

	.email {
		font-style: italic;
	}

	.phone {
		@include font-size(13);
	}

	article {
		text-align: center;
	}
}
